.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

/build/

ios/pods/
ios/Runner.xcworkspace/
GoogleService-Info.plist

.idea/
.vscode/

*.log

assets/credentials/
*.json

node_modules/
*.local